<strong>Olá, {{ student_name }}</strong>
<p>Estamos entrando em contato para avisar que seu plano mudou, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan_title }}<br/>
  <strong>Data de início: </strong> {{ start_date }}<br/>
  <strong>Data de término: </strong> {{ end_date }}<br/>
  <strong>Valor total: </strong> {{ price }}<br/>
</p>
