<strong>Olá, {{ student_name }}</strong>
<p>Bem vindo(a) ao Gympoint!</p>
<p>Estamos felizes em tê-lo como assinante do plano {{ plan_title }}, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan_title }}<br/>
  <strong>Data de início: </strong> {{ start_date }}<br/>
  <strong>Data de término: </strong> {{ end_date }}<br/>
  <strong>Valor total: </strong> R$ {{ price }}<br/>
</p>
